

#root {
  margin: 0;
  padding: 0;
}

input[type="text"]:focus ~.input-text, 
input[type="text"]:valid ~.input-text{

  @apply text-blue-500 bg-white transform -translate-y-7 -translate-x-5 scale-75;
}
input[type ="password"]:focus ~.input-password, 
input[type ="password"]:valid ~.input-password{

  @apply text-blue-500 bg-white transform -translate-y-7 -translate-x-5 scale-75;
}

.bg-custom-image{
  background-image: url('./assets/Images/image_pharma.jpg');
  background-position: center;
  background-size: cover;

}
.glass_container{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.37);

}
::-webkit-file-upload-button {
  display: none;
}